---
import BaseHead from "../components/BaseHead.astro";

export interface props {
    title: string;
}
const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
    <BaseHead title="AstroTips" description="My first page"/>
    <body class="h-screen">
        <slot />
    </body>
</html>